TELEGRAM_BOT_TOKEN=
GOOGLE_SERVICE_ACCOUNT_EMAIL=ammar-265@rapid-chassis-424212-r3.iam.gserviceaccount.com
GOOGLE_PRIVATE_KEY=
GOOGLE_SPREADSHEET_ID=1cXyL60QniZevYOb06adN5FPHWN5tbYhiHX12yIa6kG4
ALLOWED_USERS=

GOOGLE_LEADS_TAB=May 26 Turkey  Leads
GOOGLE_LEADS_RANGE='May 26 Turkey  Leads'!A:Z
GOOGLE_FTD_TAB=FTD
GOOGLE_TRANSACTION_TAB=TRANSACTION
